.footer {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 425px) {
    .footer {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 48px;
        max-width: 282px;
    }
}

@media (min-width: 425px) and (max-width: 800px) {
    .footer {
        margin: 0;
        margin-left: 100px;
}
}