.header {
    margin-top: 45px;
}

.header__logo {
    height: 33px;
    width: 173px;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
.header {
    margin: 0;
    box-sizing: border-box;
    padding-left: 27px;
    padding-top: 28px;

}

.header__logo {
    height: 24px;
    width: 126px;
}
}

@media (min-width: 425px) and (max-width: 896px) {
    .header {
        margin: 0;
        box-sizing: border-box;
        padding-left: 100px;
        padding-top: 45px;
    }
}
/*@media screen and (max-width: 425px) {
    .header{ 
        margin-top: 28px;
        margin-left: 27px;
    }

    .header__logo {
        height: 24px;
        width: 126px;
    }
   
}

@media (min-width: 425px) and (max-width: 800px) {
    .header{ 
        margin-top: 28px;
        margin-left: 40px;
}
}

@media screen and (min-width: 801px) {

}*/