.header {
    margin-top: 45px;
}

@media screen and (max-width: 425px) {
    .header{ 
        margin-top: 28px;
        margin-left: 27px;
    }
   
}

@media (min-width: 425px) and (max-width: 800px) {
    .header{ 
        margin-top: 28px;
        margin-left: 40px;
}
