.header {
    margin-top: 45px;
}

.header__logo {
    height: 33px;
    width: 173px;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
.header {
    margin: 0;
    box-sizing: border-box;
    padding-left: 27px;
    padding-top: 28px;

}

.header__logo {
    height: 24px;
    width: 126px;
}
}

@media (min-width: 426px) and (max-width: 896px) {
    .header {
        margin: 0;
        box-sizing: border-box;
        padding-left: 100px;
        padding-top: 45px;
    }
}
