@import url(../vendor/normalize.css);

.page {
    background-color: black;
    color: white;
}

.page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    margin-top: 45px;
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.profile__info {
    display: grid;
    grid-template-areas:
    "title button"
    "description description";
    grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
    background: transparent url(../images/VectorPencil.svg) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
    align-self: center;
    border: 1px solid white;
}

.profile__add-button {
    background: transparent url(../images/VectorPlussign.svg) center no-repeat;
    height: 50px;
    width: 150px;
    margin-left: auto;
    border: 1px solid white;
}

.profile__title {
    font-family: 'Inter', Arial, sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    grid-area: title;
    margin: 0;
}

.profile__description {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: description;
    display: flex;
    margin: 0;
}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-right: 30px; 
}

.cards {
    margin-top: 47.25px;
}

.card__list {
    display: grid;
    list-style-type: none;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
}

.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
}

.card__description {
    display: flex;
    background-color: white;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
}

.card__like-button {
    background: transparent url(../images/Vectorlike.svg) center no-repeat;
    height: 18px;
    width: 21px;
    padding-right: 20px;
    border: none;
}

.card__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    max-width: 318px;
    margin-left: 200px;
    margin-top: 67px;
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
    }

    .profile__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 10px;
       
    }

    .profile__description {
        width: 100%;
        justify-content: center;
        margin: 0;
        margin-top: 14px;
    }

    .profile__add-button {
        margin: 0;
        margin-top: 36px;
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        max-width: 282px;
    }

    .profile__edit-button {
        margin-top: 26.25px;
    }

    .profile__title {
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        padding: 0;
        padding-top: 26.25px;
    }

    .footer__copyright {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 48px;
        max-width: 282px;
    }
}